.app {
  width: 100%;
  color: #FFF; 
  font-family: 'Lato', sans-serif;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 2em;
  padding: 1em 6em;
  background-color:#404040;
  box-shadow: 1px 1px 10px 1px black;
  z-index: 1;
}

h2 {
  font-size: 1.7em;
  font-weight: 700;
}

h4 {
  font-size: 1.4em;
}

.language-selection {
  margin-left: .5em;
  cursor: pointer;
}

.language-selection.selected {
  text-decoration: underline;
  font-weight: 700;
}

.content {
  position: absolute;
  top: 5.8em;
  left: 0;
  width: 100%;
  padding: 1em 5em;
}

.panel {
  width: 100%;
  background-color:#404040;
  color: #FFF; 
  padding: 1.2em;
  border-radius: 5px;
  margin-bottom: 1.7em;
  box-sizing: border-box;
}

.daily-numbers {
  display: flex;
  justify-content: space-between;
  font-size: 1.3em;
  font-weight: bold;
}

.section-title {
  font-size: 1.2em;
  margin-bottom: 4%;
}

.select-day {
  display: block;
  height: 40px;
  width: 60%;
  color: #FFF;
  padding: 0 .8em;
  margin-bottom: 1em;
  -moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
  border: 1px solid #282c34;
  background-color: #282c34;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
  cursor: pointer;
  box-sizing: border-box;
}

.daily-numbers-details {
  margin-bottom: 1em;
}

.select-day ::-ms-expand {
	display: none;
}

.select-day :hover {
	border-color: #888;
}

.select-day  option {
	font-weight:normal;
}

.situation-evolution {
  width: 100%;
  height: 720px;
  padding-bottom: 5em;
}

.positive-details {
  position: relative;
  list-style-type: none;
}

.positive-details__icon {
  position: absolute;
  height: 11px;
  width: 14px;
  transform: translate(-22px, 5px);
}

.source-link {
  margin-top: 1%;
}

.link {
  color: #FFF;
  text-decoration: underline;
}

.link:hover {
  color: #61dafb;
}

.percentage-increase {
  font-size: .8em;
}

.explain-increment {
  margin-top: -20px;
  margin-bottom: 20px;
}

.loading {
	height: 0;
	width: 0;
	padding: 22px;
	border: 8px solid #282c34;
	border-right-color: #61DBFB;
	border-radius: 50%;
	animation: rotate 1s infinite linear;
	/* left, top and position just for the demo! */
	margin: 1em auto;
}

@keyframes rotate {
	/* 100% keyframe for  clockwise. 
	use 0% instead for anticlockwise */
	100% { -webkit-transform: rotate(360deg); }
}

@media screen and (max-width: 700px) {
  nav {
    padding: 0.5em 2em 0.2em;
    margin-bottom: 1em;
  }

  h2 {
    font-size: 1.3em;
  }

  .content {
    top: 3.5em;
    padding: 0.5em 1em;
  }

  .panel {
    margin-bottom: 1em;
    padding: 1em .5em;
  }

  .section-title {
    font-size: 1.1em;
  }

  .percentage-increase {
    font-size: .85em;
  }

  h4 {
    font-size: 1em;
  }

  .select-day {
    width: 100%;
  }

  .daily-numbers {
    font-size: 1em;
  }

  .situation-daily {
    width: 100%;
  }

	.situation-evolution {
    width: 100%;
    height: 350px;
    padding-bottom: 3em;
  }

  .loading {
    padding: 15px;
    border: 6px solid #282c34;
    border-right-color: #61DBFB;
    border-radius: 50%;
  }

  @keyframes rotate {
    /* 100% keyframe for  clockwise. 
    use 0% instead for anticlockwise */
    100% { -webkit-transform: rotate(360deg); }
  }
}

